* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif Verdana, Tahoma;
    outline: none;
}

body {
    background-color: #FFF;
    font-family: sans-serif Verdana, Tahoma;
}

.account {
    position: relative;
    left: 25%;
    width: 75%;
    margin: 0;
}